<h1>Add or Delete a Product</h1>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <label for="action">Action:</label>
  <select id="action" formControlName="action">
    <option value="add">Add Product</option>
    <option value="delete">Delete Product</option>
  </select>

  <label for="name">Product Name:</label>
  <input id="name" formControlName="name" type="text" />

  <label for="price" *ngIf="isAddAction()">Price:</label>
  <div class="price-input" *ngIf="isAddAction()">
    <span class="currency-symbol">$</span>
    <input id="price" formControlName="price" type="number" min="1" step="1" />
  </div>

  <label for="imageUrl" *ngIf="isAddAction()">Image URL:</label>
  <input id="imageUrl" formControlName="imageUrl" type="text" *ngIf="isAddAction()" />

  <label for="category">Category (fruit/vegetable):</label>
  <select id="category" formControlName="category">
    <option value="fruit">Fruit</option>
    <option value="vegetable">Vegetable</option></select>
  

  <label for="link" *ngIf="isAddAction()">Learn More Link:</label>
  <input id="link" formControlName="link" type="text" *ngIf="isAddAction()" />

  <button type="submit" [disabled]="productForm.invalid && isAddAction()">Submit</button>
</form>