.navigation-buttons {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 12px;
  margin-bottom: 40px;
  padding: 6px 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav-logo {
  color: rgba(50, 125, 0, 1);
  font-size: 30px;
  font-weight: 550;
  margin-right: 20px;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 15px;
  background-color: rgba(255, 255, 255, 0.6);
}

.nav-link {
  color: rgb(43,43,43);
  font-size: 20px;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  position: relative; 
  margin-right: 10px;
}

.nav-link:hover {
  color: rgb(50,125,0);
}

.nav-link1 {
  color: rgba(50, 125, 0, 1);
  width: 160px;
  font-size: 25px;
  height: 44px;
  border-radius: 29px;
  border: 1px solid rgba(0,0,0,0.2);
  padding-left: 10px;
  display: flex;
  justify-content: center; 
  align-items: center;  
  text-decoration: none;
  background-color: rgba(158,197,44,0.2);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.navbar-cart {
  width: 35px;   
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.navbar-cart img {
  width: 100%;
  height: 100%;
}

.cart-badge {
  background-color: #ff3b30;
  color: #fff;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: -5px;
  right: -5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
