<!-- מצב לא מחובר -->
<div class="card" *ngIf="!auth.isLoggedIn; else logged">
  <h2>Login</h2>
  <input type="email" placeholder="Email" [(ngModel)]="email">
  <input type="password" placeholder="Password" [(ngModel)]="password">
  <button (click)="submit()" [disabled]="loading">Login</button>
  <p class="error" *ngIf="error">{{ error }}</p>

  <hr>

  <h2>Register</h2>
  <input type="text" placeholder="Full Name" [(ngModel)]="regName">
  <input type="email" placeholder="Email" [(ngModel)]="regEmail">
  <input type="password" placeholder="Password" [(ngModel)]="regPassword">
  <button (click)="submitRegister()" [disabled]="regLoading">Register</button>
  <p class="error" *ngIf="regError">{{ regError }}</p>
  <p class="success" *ngIf="regOk">{{ regOk }}</p>
</div>

<!-- מצב מחובר -->
<ng-template #logged>
  <div class="card logged">
    <p>Hello, <b>{{ auth.user?.name }}</b> ({{ auth.user?.role }})</p>
    <button (click)="logout()">Logout</button>
  </div>
</ng-template>
