* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.clock {
  color: rgb(255, 239, 239);
  font-size: 4rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 13px;
  border-radius: 10px;
  background: rgb(32, 30, 30);
  width: 100%;
  margin-bottom: 40px;
  position: absolute; 
  top: 50px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
    }
  
  .clock > h1 {
    font-size: 2.5rem;
  }
  
  .clock span {
    font-size: 2rem;
  }
  
  .tick-hidden {
    opacity: 0;
  }
  
  .move {
    animation: move linear 1s infinite;
  }
  
  @keyframes move {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);
    }
  }
  
  .hostage {
    background-color: red;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
  
  .simple-button {
    background-color: #4CAF50; /* צבע ירוק */
    color: white; /* טקסט לבן */
    font-size: 14px; /* גודל טקסט */
    padding: 10px 20px; /* מרווח פנימי */
    border: none; /* ללא מסגרת */
    border-radius: 4px; /* פינות מעט מעוגלות */
    cursor: pointer; /* שינוי לסמן ידני */
  }
  
  .simple-button:hover {
    background-color: #45a049; /* ירוק כהה מעט בעת מעבר עכבר */
  }
  
  .footer {
    background-color: #f1f1f1; /* צבע רקע אפור בהיר */
    padding: 20px; /* מרווח פנימי */
    text-align: center; /* יישור תוכן למרכז */
    border-top: 2px solid #ccc; /* מסגרת עליונה */
  }
  
  .footer h2 {
    margin: 10px 0; /* מרווח עליון ותחתון */
    font-size: 18px; /* גודל טקסט */
    color: #333; /* צבע טקסט כהה */
  }
  
  .footer button {
    background-color: #4CAF50; /* צבע ירוק */
    color: white; /* טקסט לבן */
    font-size: 16px; /* גודל טקסט */
    padding: 10px 20px; /* מרווח פנימי לכפתור */
    border: none; /* ללא מסגרת */
    border-radius: 5px; /* פינות מעוגלות */
    cursor: pointer; /* שינוי סמן */
  }
  
  .footer button:hover {
    background-color: #45a049; /* גוון ירוק כהה יותר בעת מעבר עכבר */
  }
  