<link rel="preconnect" href="https://fonts.googleapis.com">
<div class="hero-container">
    <img src="assets/images/homePage/main.jpg" alt="רקע לגינה" class="background-img">

    <div class="hero-content">
        <h1>
            <strong>Fresh</strong> from nature,<br>
            made for your kitchen
        </h1><br><br>
        <p class="p2">
            Discover a new way to shop for freshness handpicked vegetables,<br>
            grown with care, delivered with love.
        </p>
        <button class="button1"(click)="click()">Shop Now</button>
    </div>
</div>

